* {
	box-sizing: border-box;
}

body {
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #000033;
	padding: 0em 1em 0em 1em;
	position: relative;
	top: 4em;
}

.bar {
	width: 100%;
	background-color: white;
	position: fixed;
	padding: .5em 0em .5em 0em;
	top: 0;
	left: 0;
	-webkit-filter: opacity(.9);
	filter: opacity(.97);
}

.barItem {
	width: 25%;
	float: left;
	color: #000033;
	font-size: 1.5em;
	line-height: 2em;
}

.selected {
	color: gray;
}

.barItem a:visited{
	color: #000033;
}

.barItem a:hover {
	color: grey;
}

.barItem a:link {
	color: white;
	text-decoration: none;
}

.section {
	padding: 1em;
}

.headline h3 {
	text-transform: uppercase;
}

.section, .customSection {
	color: black;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 1.5em;
	background-color: white;
	float: left;
	width: 100%;
}

.centered {
	text-align: center;
}

.headline {
	color: white;
	background-color: grey;
	padding: 0em 2em 0em 2em;
	margin-top: .5em;
}

.l1 {
	padding-left: 50px;
}

.l2 {
	padding-left: 100px;
}

.l3 {
	padding-left: 150px;
}
